.body{
  max-width: 768px;
}

.swiper {
  width: 100%;
  max-width: 768px;
  /* min-height: 700px; */
}

.swiper-wrapper {
  width: 100%;
  max-width: 768px;
  height: 100%;
  max-height: 100%;
}


.swiper-slide {
  width: 100%;
  max-width: 768px;
  height: 100%;
  border-radius: 10px;
  /* min-height: 700px; */
}


.ft-s{
  font-size: small;
}

.ft-m{
  font-size: medium;
}

.ft-l{
  font-size: large;
}



.gallery{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}



/* 사진 가운데 정렬 */
.pic_middle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 텍스트 가운데 정렬 */
.text_middle{
  text-align: center;
}


/* 박스 기본 정렬 */
.default-size{
  width: 100%;
  max-width: 768px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sorryContent{
  margin-top: 80px;
  position:absolute;
}
